[submodule "react_native_alarms"]
	path = react_native_alarms
	url = https://github.com/szariii/react_native_alarms.git
[submodule "react_native_calculator"]
	path = react_native_calculator
	url = https://github.com/szariii/react_native_calculator.git
[submodule "react_native_camera"]
	path = react_native_camera
	url = https://github.com/szariii/react_native_camera.git
[submodule "react_native_map"]
	path = react_native_map
	url = https://github.com/szariii/react_native_map.git
