[submodule "react_native_alarms"]
	path = react_native_alarms
	url = https://github.com/szariii/react_native_alarms.git
[submodule "react_native_calculator"]
	path = react_native_calculator
	url = https://github.com/szariii/react_native_calculator.git
